fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
requests
sentence-transformers
PyMuPDF
python-docx
PyPDF2
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
faiss-cpu
